.fusion {
    font-size: 60px;
    font-style: bold;
}

.umami {
    font-size: 30px;
    padding-right: 10px;
}

.jacksonville {
    padding-left: 10px;
}

.header {
    color: black;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 50px;
}

.button {
    padding-top: 30px;
    padding-bottom: 30px;
}


body {
    background-image: url(https://images.pexels.com/photos/2958293/pexels-photo-2958293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.image {
    border-style: 20px black solid;

}

.review {
    border-bottom: 1px black solid;
    padding-bottom: 50px;
}

.linepadding {
    padding: 50px 0px;
}

.linebordertop {
    padding: 100px 0px 30px 0px;
}

.linepadding2 {
    padding: 90px 0px;
}

.linepadding3 {
    padding: 25px 100px 25px 100px;
}

.cuisine {
    size: 40px;
}

.curry {
    height: 400px;
}

.border {
    border: 3px;
    Color: black;
}


.facebook {
    font-size: 40px;
    color: black;
    padding-right: 20px;
}

.instagram {
    font-size: 40px;
    color: black;
}

.twitter {
    font-size: 40px;
    color: black;
    padding-left: 20px;
}